@font-face { font-family: harryP; src: url('HARRYP__.TTF'); } 

body{
	background: url("../background/Houses.jpg")no-repeat center center fixed;
        background-size: cover;	
        font-family: "Arial";	        		        	
}

.font{font-family: "harryP";}

h1{	
	font-size:64px;
	color:white;
	-webkit-text-stroke: 0.5px #222;
	}

span.reference{
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
			}

span.reference a{
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
			
span.reference a:hover{
	color:#ddd;
}
			
ul.sdt_menu{
	margin-top:150px;
}
			
.content{
	margin: 200px 0 0 160px ;		
}
			
#disclaimer{	
	margin: 200px 150px 0 225px;    
	max-width:600px;
	min-width:600px;
	font-size:16pt; 
	color:white;
}
			
#quiz_link{position:absolute;}
					
#quiz_link a{text-decoration:none;}
			
#quiz_link td{
	color:white;
	-webkit-text-stroke: 0.5px #222;
	font-size:28px;
}




