@charset "UTF-8";
/* CSS Document */

body{background-color:#868686;}
#atm{ 
	width:1000px; 
	height:650px; 
	overflow:auto;
	margin:50px auto 50px auto;
	}
#atmbody{
	background-image:url(images/atmbody.png);
	width: 600px;
	height:600px;
	float:left;
}
#screen{
	background-image:url(images/screen.png);
	width:480px;
	height:380px;
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom:0px;
}
#pad{
	position:relative;
	background-color:;
	background-image: url("images/pad.png");
	width:380px;
	height:304px;
	float:right;
	top: 50%;
	margin-top:-152px;
	}
.enterbutton{
	border: none;
	background-image: url(images/enter.png);
	width: 70px;
	height: 54px;
	color: transparent;
}
#numbers{
	float:left;
	margin-top:20px;
	margin-left: 20px;
	}
#funcKeys{
	float:left;
	margin-top:20px;
	margin-left:15px;
	margin-right:0px;
	}
#slots{ 
	width:480px; 
	height:126px;
	margin-left: 60px;
	margin-top:33px;
	}
#cash{
	background-color:; 
	width:240px;
	height:100%;
	float:left;	
}
.cash{ margin-top: 5px;}
#card{
	background-color:; 
	width:240px;
	height:100%;
	float:right;
}
.card{margin-top:5px;margin-left:100px;}

#display{
	background-color:;
	font-size: 22px;
	position:relative;
	top: 100px;
	margin-left: 200px;
	}
#top{
	background-color:;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	font-weight:bold;
	position:relative;
	top: 100px;
	margin-left: 50px;
	}
#top.tranaction{top:20px;}
#arrow{
	background-color:;
	position:relative;
	left:360px; 
	top: 120px;
	width:100px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#CF0;
	}
.arrow_gif{margin-left:20px;}

#list{
	background-color:;
	position:relative;
	float:left;
	width:300px;
	top: 340px;
	left: 30px;
	font-family:Arial, Helvetica, sans-serif;
	}

.backbutton {
border: none;
background: #FFF url('images/backbutton.png');
width: 70px;
height: 30px;
color:transparent;
}

.donebutton {
border: none;
background: #FFF url('images/donebutton.png');
width: 70px;
height: 30px;
color:transparent;
}

.withdraw {
border: none;
background: #FFF url('images/wo.png');
width: 400px;
height: 40px;
color:transparent;
}
.statement {
border: none;
background: #FFF url('images/so.png');
width: 400px;
height: 40px;
color:transparent;
}

.balance {
border: none;
background: #FFF url('images/bo.png');
width: 400px;
height: 40px;
color:transparent;
}

#threeoptions{
	background-color:;
	padding-top: 100px;
	padding-left:30px;
	}
#twoButtons{
	background-color:;
	position:relative;
	top:240px;
	width:480px;
	height:30px;
	}
#twoButtons.takePage{
	background-color: ;
	margin-top: -60px;
	}
.backbuttontake {
border: none;
background: #FFF url('images/backbutton.png');
width: 70px;
height: 30px;
color:transparent;
float:left;
margin-left:10px;
}

.donebuttontake {
border: none;
background: #FFF url('images/donebutton.png');
width: 70px;
height: 30px;
color:transparent;
float:right;
margin-right: 10px;
}




#twoButtons.printPage{
	background-color:;
	margin-top: -200px;
	}
.backbuttonprint {
border: none;
background: #FFF url('images/backbutton.png');
width: 70px;
height: 30px;
color:transparent;
float:left;
margin-left:10px;
}

.donebuttonprint {
border: none;
background: #FFF url('images/donebutton.png');
width: 70px;
height: 30px;
color:transparent;
float:right;
margin-right: 10px;
}



#twoButtons.balPage{
	background-color:;
	
	}
.backbuttonbal {
border: none;
background: #FFF url('images/backbutton.png');
width: 70px;
height: 30px;
color:transparent;
float:left;
margin-left:10px;
}

.donebuttonbal {
border: none;
background: #FFF url('images/donebutton.png');
width: 70px;
height: 30px;
color:transparent;
float:right;
margin-right: 10px;
}



	
#trans{margin-left:100px; margin-top:50px;}

.takePage{
	background-color:;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	font-weight:bold;
	position:relative;
	
}
.smaller{font-size:20px;}

#top.AmountMess{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	font-weight:bold;
	position:relative;
	top: 20px;
	margin-left: 30px;}
	
.withdraw10 {
border: none;
background: #FFF url('images/$10.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw20 {
border: none;
background: #FFF url('images/$20.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw40 {
border: none;
background: #FFF url('images/$40.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw60 {
border: none;
background: #FFF url('images/$60.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw80 {
border: none;
background: #FFF url('images/$80.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw100 {
border: none;
background: #FFF url('images/$100.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw200 {
border: none;
background: #FFF url('images/$200.png');
width: 90px;
height: 39px;
color:transparent;
}

.withdraw300 {
border: none;
background: #FFF url('images/$300.png');
width: 90px;
height: 39px;
color:transparent;
}

#leftwithdraw{
	margin-top: 50px;
	margin-left: 13px;
	}
span.red{color:#C00;}
#top.error{font-size:20px;}

#back{background-color:; width:240px; height:30px; float:left;}
.backimg{margin-left:30px;}
#done{background-color:; width:240px; height:30px; float:left;}
.doneimg{margin-left: 140px;}





