@import url(https://fonts.googleapis.com/css?family=Lato);
@import "helpers/animation";
@import "helpers/wave";
/* variables */
$theme-color: #87ceeb;
/* universal style */
body,
html {
  box-sizing: border-box;
  color: #666;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a:link,
a:visited {
  color: $theme-color;
  text-decoration: none;
}

.site-container {
  margin: 0 auto;
  width: 80%;
}

section {
  min-height: 100vh;
  width: 100%;
}

.social-icon {
  font-size: 1.5rem;
  padding: 0.3rem;
  transition: all 0.5s ease-in;
}

.social-icon:hover {
  transform: scale(1.2);
}
/* home */
#home {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 20rem;
  width: 60%;
  color: #fff;
}

.name {
  font-size: 2rem;
}

.summary {
  margin-top: 1rem;
  padding: 2rem 0;
  text-align: center;
}

#scroll-button {
  animation: bounce 2s infinite;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  cursor: pointer;
  color: $theme-color;
  margin: 0 auto;
  background-color: #fff;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;

  a {
    font-size: 1.5rem;
  }
}
/* portfolio */
#portfolio-container {
  margin: 0 auto;
  padding-top: 10rem;
  width: 100%;
}

.project-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0.625rem auto 2.5rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.0625rem;
  box-shadow: -0.125rem 0.125rem 0.0625rem 0 rgba(0,0,0,0.25);
  padding: 1.25rem;
  width: 90%;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;

  img {
    width: 100%;
  }
}

.project-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  text-align: justify;
  width: 35rem;

  h3 {
    color: $theme-color;
    font-size: 1.6rem;
  }
}

.skill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;

  li {
    position: relative;
    margin: 0.2rem;
    padding: 0 0.3rem;
  }

  li::before {
    border-bottom: 0.0625rem solid #999;
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    height: 0.0625rem;
    width: 60%;
  }
}

.code {
  padding: 0.5rem 0;
}

.code-btn {
  border: 0.0625rem solid $theme-color;
  padding: 0.5rem;
  margin: 0 0.4rem;
  transition: 0.5s;
}

.code-btn:hover {
  border: 0.25rem solid transparent;
  margin: 0 0.2rem;
}

footer {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  text-align: center;
  color: #fff;
}
@import "helpers/media";
