@import url(https://fonts.googleapis.com/css?family=Lato);
/* animation style */
/* ==============ANIMATION=============== */
@keyframes appear {
  from {
    opacity: 0;
    filter: blur(2rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.3125rem);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.125rem);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.appear {
  animation: appear 2s ease-in-out;
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.hidden {
  opacity: 0;
}

/* variables */
/* universal style */
body,
html {
  box-sizing: border-box;
  color: #666;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: #87ceeb;
  text-decoration: none;
}

.site-container {
  margin: 0 auto;
  width: 80%;
}

section {
  min-height: 100vh;
  width: 100%;
}

.social-icon {
  font-size: 1.5rem;
  padding: 0.3rem;
  transition: all 0.5s ease-in;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* header */
header {
  position: fixed;
  height: 5rem;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.nav-links li {
  display: inline-block;
  margin: 0 0.5rem;
}
.nav-links a {
  color: #87ceeb;
  padding: 1.7rem 1rem;
}
.nav-links li.active a {
  border-bottom: 0.3rem solid #87ceeb;
}

.btn {
  background: transparent;
  color: #87ceeb;
  border-color: #87ceeb;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  transition: all 0.3s ease-in;
  outline: none;
}

.btn:hover {
  background-color: #87ceeb;
  color: #0082c8;
}

/* home */
#home {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 20rem;
  width: 60%;
  color: #fff;
}

.name {
  font-size: 2rem;
}

.summary {
  margin-top: 1rem;
  padding: 2rem 0;
  text-align: center;
}

#scroll-button {
  animation: bounce 2s infinite;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  cursor: pointer;
  color: #0082c8;
  margin: 0 auto;
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
}
#scroll-button a {
  font-size: 1.5rem;
}

.wave {
  position: absolute;
  height: 143px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url(../images/wave.png);
  animation: animate 10s linear infinite;
}

.wave::before {
  content: "";
  position: absolute;
  height: 143px;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../images/wave.png);
  animation: animate-reverse 10s linear infinite;
  opacity: 0.4;
}

.wave::after {
  content: "";
  position: absolute;
  height: 143px;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../images/wave.png);
  animation-delay: -5s;
  animation: animate 20s linear infinite;
  opacity: 0.4;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}
@keyframes animate-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}
/* portfolio */
#portfolio-container {
  margin: 0 auto;
  padding-top: 10rem;
  width: 100%;
}

.project-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0.625rem auto 2.5rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.0625rem;
  box-shadow: -0.125rem 0.125rem 0.0625rem 0 rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
  width: 90%;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
}
.project-image img {
  width: 100%;
}

.project-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  text-align: justify;
  width: 35rem;
}
.project-summary h3 {
  color: #87ceeb;
  font-size: 1.6rem;
}

.skill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
.skill li {
  position: relative;
  margin: 0.2rem;
  padding: 0 0.3rem;
}
.skill li::before {
  border-bottom: 0.0625rem solid #999;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  height: 0.0625rem;
  width: 60%;
}

.code {
  padding: 0.5rem 0;
}

.code-btn {
  border: 0.0625rem solid #87ceeb;
  padding: 0.5rem;
  margin: 0 0.4rem;
  transition: 0.5s;
}

.code-btn:hover {
  border: 0.25rem solid transparent;
  margin: 0 0.2rem;
}

footer {
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  border-top: 0.0625rem solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  text-align: center;
}

/* very large desktop display */
@media only screen and (min-width: 3001px) and (max-width: 5500px) {
  body,
html {
    font-size: 64px;
  }

  #contact {
    padding-top: 10rem;
  }
}
/* large desktop display */
@media only screen and (min-width: 2401px) and (max-width: 3000px) {
  body,
html {
    font-size: 32px;
  }

  #contact {
    padding-top: 15rem;
  }
}
/* desktop display */
@media only screen and (min-width: 1600px) and (max-width: 2400px) {
  body,
html {
    font-size: 24px;
  }
}
/* tablet display */
@media only screen and (max-width: 960px) {
  .lg-site {
    display: none;
  }

  .site-container {
    width: 90%;
  }

  section {
    min-height: 100%;
  }

  #contact {
    padding: 10rem 0;
    width: 100%;
  }

  .summary {
    padding: 0 5rem;
  }

  #portfolio-container {
    padding-top: 5rem;
  }

  .project-container {
    flex-wrap: wrap;
  }
}
/* mobile display */
@media only screen and (max-width: 480px) {
  .lg-site {
    display: none;
  }

  .site-container {
    width: 90%;
  }

  section {
    min-height: 100%;
  }

  #contact {
    padding: 10rem 0;
  }

  .name {
    font-size: 1.8rem;
  }

  #portfolio-container {
    padding-top: 5rem;
  }

  .project-container {
    flex-wrap: wrap;
  }

  .project-summary {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
