 body{
    background: url('planets/space.jpg')no-repeat center center fixed;
    background-size: cover;
    background-color:black;
}
#wrapper{
    margin-top:500px;
    margin-left:500px;
}

.sun {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    border-radius: 50%;    
    
}
.mercury {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: orange 0 0 25px;
}
.mercury-orbit {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;   
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 50%;
    
    -webkit-animation: spin-right 4s linear infinite;
    -moz-animation: spin-right 4s linear infinite;
      -ms-animation: spin-right 4s linear infinite;
       -o-animation: spin-right 4s linear infinite;
          animation: spin-right 4s linear infinite;
}
.venus {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: yellow 0 0 25px;
}

.venus-orbit {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 50%;
    
    -webkit-animation: spin-right 12s linear infinite;
    -moz-animation: spin-right 12s linear infinite;
      -ms-animation: spin-right 12s linear infinite;
       -o-animation: spin-right 12s linear infinite;
          animation: spin-right 12s linear infinite;
}
.earth {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: blue 0 0 25px;
}

.earth-orbit {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;  
    margin-left: -200px;
    margin-top: -200px;
    border-radius: 50%;   
    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
      -ms-animation: spin-right 20s linear infinite;
       -o-animation: spin-right 20s linear infinite;
          animation: spin-right 20s linear infinite;
}

.moon {
    height: 10px;
    width: 10px;
}

.moon-orbit {
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -12.5px;
    margin-bottom: -37px;   
    border: 1px solid rgba(255, 0, 0, 0.1);
    border-radius: 50%;   
    -webkit-animation: spin-right 1s linear infinite;
    -moz-animation: spin-right 1s linear infinite;
      -ms-animation: spin-right 1s linear infinite;
       -o-animation: spin-right 1s linear infinite;
          animation: spin-right 1s linear infinite;
}

.mars {
    height: 20px;
    width: 20px;  
    border-radius: 50%;
    box-shadow: red 0 0 25px;
}

.mars-orbit {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;  
    margin-left: -250px;
    margin-top: -250px; 
    border: 1px dotted gray;
    border-radius: 50%;   
    -webkit-animation: spin-right 37s linear infinite;
    -moz-animation: spin-right 37s linear infinite;
      -ms-animation: spin-right 37s linear infinite;
       -o-animation: spin-right 37s linear infinite;
          animation: spin-right 37s linear infinite;
}

.jupiter {
    height: 150px;
    width: 150px;
    border-radius: 50%;
   
}

.jupiter-orbit {
    position: absolute;
    height: 800px;
    width: 800px;
    top: 50%;
    left: 50%; 
    margin-left: -400px;
    margin-top: -400px;   
    border: 1px dotted gray;
    border-radius: 50%;
    
    -webkit-animation: spin-right 200s linear infinite;
    /*-webkit-animation: spin-right 237s linear infinite;*/
    -moz-animation: spin-right 200s linear infinite;
      -ms-animation: spin-right 200s linear infinite;
       -o-animation: spin-right 200s linear infinite;
          animation: spin-right 200s linear infinite;
}

.saturn {
    height: 130px;
    width: 130px;  
    border-radius: 25%;  
}

.saturn-orbit {
    position: absolute;
    height: 900px;
    width: 900px;
    top: 50%;
    left: 50%;   
    margin-left: -450px;
    margin-top: -450px;   
    border-radius: 50%;
    
    -webkit-animation: spin-right 200s linear infinite;
    /*-webkit-animation: spin-right 580s linear infinite;*/
    -moz-animation: spin-right 200s linear infinite;
      -ms-animation: spin-right 200s linear infinite;
       -o-animation: spin-right 200s linear infinite;
          animation: spin-right 200s linear infinite;
}

.uranus {
    height: 100px;
    width: 100px;  
    border-radius: 20%;
    
}

.uranus-orbit {
    position: absolute;
    height: 1000px;
    width: 1000px;
    top: 50%;
    left: 50%;   
    margin-left: -500px;
    margin-top: -500px;   
    border: 1px dotted gray;
    border-radius: 50%;
    
    -webkit-animation: spin-right 200s linear infinite;
    /*-webkit-animation: spin-right 1680s linear infinite;*/
    -moz-animation: spin-right 200s linear infinite;
      -ms-animation: spin-right 200s linear infinite;
       -o-animation: spin-right 200s linear infinite;
          animation: spin-right 200s linear infinite;
}

.neptune {
    height: 100px;
    width: 100px;  
    border-radius: 50%;
}

.neptune-orbit {
    position: absolute;
    height: 1100px;
    width: 1100px;
    top: 50%;
    left: 50%;   
    margin-left: -550px;
    margin-top: -550px;   
    border-radius: 50%;
    
    -webkit-animation: spin-right 200s linear infinite;
    /*-webkit-animation: spin-right 3280s linear infinite;*/
    -moz-animation: spin-right 200s linear infinite;
      -ms-animation: spin-right 200s linear infinite;
       -o-animation: spin-right 200s linear infinite;
          animation: spin-right 200s linear infinite;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}