/* universal style */

body {
  background-color: #e8e8e8;
}

.hidden-1 {
  display: none;
}

.navbar {
  background-image: url("../images/mainheadwhite.png");
}

a {
  color: #000;
}

h1 {
  color: #000;
}

/* navbar*/

.navbar-inverse .navbar-nav>li>a {
  color: #000;
}

/* about me */

#bio {
  color: black;
}

/* projects */

.text {
  color: black;
}

h3 {
  color: black;
}

/* contact button */

.btn-clear {
  color: #000;
  border: 2px solid #000;
}

.btn-clear:hover, .btn-clear:focus, .btn-clear.focus, .btn-clear:active, .btn-clear.active, .open>.dropdown-toggle.btn-clear {
  border-color: #000;
}

/* copyright */

#footer {
  color: #000;
}
