.wave {
  position: absolute;
  background: url("../images/wave.png");
  height: 143px;
  width: 100%;
  bottom: 0;
  left: 0;
  animation: animate 10s linear infinite;
}

.lower-wave {
  position: relative;
  background-image: url("../images/wave-reverse.png");
  height: 143px;
  width: 100%;
  top: 0;
  left: 0;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 1360px;
  }
}

@keyframes animate-reverse {
  0% {
    background-position: 1360px;
  }

  100% {
    background-position: 0;
  }
}