body{
	background-size: 100%;
	background-attachment: fixed;
}

canvas{
	position:absolute;
	z-index: -1;
}

.navbar-inverse .navbar-brand{
	-webkit-transition: 1s; /* Safari */
    	transition: 1s; 
}

.navbar-inverse .navbar-brand:hover{
	-webkit-transition: 1s; /* Safari */
    	transition: 1s; 
}

.navbar-inverse .navbar-nav > li > a {
	-webkit-transition: 1s; /* Safari */
    	transition: 1s; 
}

.navbar-inverse .navbar-nav > li > a:hover {
	-webkit-transition: 1s; /* Safari */
    	transition: 1s; 
}

.social-icons-header{
	margin-top: 3px;	
}

.btn-linkedin,.btn-youtube,.btn-pinterest,.btn-instagram{ 	
	background-color: transparent; 	
    	-webkit-transition: 1s; /* Safari */
    	transition: 1s; 
    	border: none;
    	color: #999999;
}

.btn-linkedin:hover,.btn-youtube:hover,.btn-pinterest:hover,.btn-instagram:hover{ 	
	background-color:transparent; 	
   	-webkit-transition: 1s; /* Safari */ 	
	transition: 1s;       	
    	border: none;
    	color: #fff;
}

section{
	width: 100%;	
}

#about{
	background-image: url('../images/bg.png');
	height: 850px;
	background-size: cover;
	border-bottom: 1px solid #dbdbdb;   
}
    	
#portfolio{
	min-height: 850px;
	background-size: cover;
	border-bottom: 1px solid #dbdbdb;   
}

#contact{
	background-image: url('../images/nyc.jpg');
	height: 1000px;
	width: 100%;
	background-size: cover;	
}

a img{
	border: 0;
	outline: none;
}

#profile{	
	padding-top: 250px;
}

.profileimage{
	padding-left: 150px;
}

#picture{
	border: 1px solid #000;
	border-radius: 8px;
	overflow: hidden;
}

.profiletext{
	font-size:16px;
}

.description{
	font-size: 20px;
	margin-left: 65px;
}

#summary{	
	text-indent: 30px;
	text-align: justify;
	text-justify: inter-word;	
}

/*******thumbnail start************/

.tabspage{
	padding-top: 100px; 
}

.thumbnail{
	background-color: #222;
	position: relative;
	overflow: hidden;
}

.roundthumb{
	border-radius: 20px;
}

.videothumb{
	width: 330px;
	height: 155px;
}
.picthumb{
	width: 350px;
	height: 255px;
}
        
.caption {
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	padding: 2%;
	display: none;
	text-align: center;
	color: #fff !important;
	z-index: 2;
}

.roundcap{
	border-radius: 20px;
}

.label{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: .875em;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
  	-ms-touch-action: manipulation;
      	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}

.label:hover{
	color: #fff;
	background-color: #ec971f;
	border-color: #222;
}

.iPhoneHome{
	position: absolute;
	background-color: #000;
	border: 1px solid #666666;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin: 70px 0 0 1px;
}

.iPhoneCamera{
	position:absolute;
	background-color:#000;
	border: 1px solid #666666;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 45px 0 0 313px;
}

.iPhoneSound{
	position: absolute;
	background-color: #666666;
	border: 1px solid #666666;
	width: 5px;
	height: 30px;
	border-radius: 20%;
	margin: 65px 0 0 315px;
}

/*******thumbnail end************/

/*******video tabs start************/
#tabs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#tabs li {
	float: left;
	margin: 0 .5em 0 0;
}

#tabs a {
	position: relative;
	background: #ddd;
	background-image: linear-gradient(to bottom, #fff, #ddd);  
	padding: .7em 3.5em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	border-radius: 5px 0 0 0;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
	background: #fff;
}

#tabs a:focus {
	outline: 0;
}

#tabs a::after {
	content:'';
	position:absolute;
	z-index: 1;
	top: 0;
	right: -.5em;  
	bottom: 0;
	width: 1em;
	background: #ddd;
	background-image: linear-gradient(to bottom, #fff, #ddd);  
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	transform: skew(10deg);
	border-radius: 0 5px 0 0;  
}

#tabs #current a,
#tabs #current a::after {
	background: #fff;
	z-index: 3;
}

#content {
	background: transparent;
	padding: 2em;
	min-height: 420px;
	position: relative;
	z-index: 2; 
	border-radius: 0 5px 5px 5px;
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

/*********contact button start**********/

h1 .btn {
	font-size:.835em;
	margin-top: 350px;
}
.contactmargin{
	margin-top: 150px;
}
.btn-clear {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.btn-clear:hover,
.btn-clear:focus,
.btn-clear.focus,
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
	/*color: rgba(0, 0, 0, 0);*/
	color: #fff;
	background-color: #000;
	border-color: #fff;
	opacity: 0.7;
	-webkit-transition: 1s; /* Safari */
	transition: 1s;      
}
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
	background-image: none;
}
.btn-clear.disabled,
.btn-clear[disabled],
fieldset[disabled] .btn-clear,
.btn-clear.disabled:hover,
.btn-clear[disabled]:hover,
fieldset[disabled] .btn-clear:hover,
.btn-clear.disabled:focus,
.btn-clear[disabled]:focus,
fieldset[disabled] .btn-clear:focus,
.btn-clear.disabled.focus,
.btn-clear[disabled].focus,
fieldset[disabled] .btn-clear.focus,
.btn-clear.disabled:active,
.btn-clear[disabled]:active,
fieldset[disabled] .btn-clear:active,
.btn-clear.disabled.active,
.btn-clear[disabled].active,
fieldset[disabled] .btn-clear.active {
	background-color: transparent;
	border-color: #fff;
}
.btn-clear .badge {
	color: #337ab7;
	background-color: #fff;
}
/********contact button end***********/

#resume{
	text-align: center;
	padding-top: 500px;  
}

#resume a{  	
	text-decoration:none;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 24px;
	margin: 25px 0 0 20px;
	padding: 10px;
	color: #fff;	
}

#resume a:hover{  
	-webkit-transition: 1s; /* Safari */
	transition: 1s;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #000;
	opacity: 0.7;  
} 

/* iPad Mini Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
#about{
	height: 1000px;
}

#portfolio{
	height: 1000px;
}

#contact{
	background-position: 80% 20%;
}  

#profile{
	padding-top: 200px;
}

.profileimage{
	padding-left: 20px;
}

.videothumb{
	width: 250px;
	margin-left: 30px;	
}

.iPhoneCamera{	
	margin: 45px 0 0 290px;
}

.iPhoneSound{
	margin: 65px 0 0 292px;
}
    
#resume{
	padding-top: 150px;  
}

}

/* iPad Mini Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
#about{ 
	height: 700px;
}

#contact{
	background-position: 70% 20%; 
}  

#profile{
	padding-top: 200px;	
}

.profileimage{
	padding-left: 100px;
}

.videothumb{
	width: 210px;
	margin-left: 30px;	
}

.iPhoneCamera{	
	margin: 45px 0 0 250px;
}

.iPhoneSound{
	margin: 65px 0 0 252px;
}
     
#resume{
	padding-top: 500px;    
}

}

/* iPhone 6 Portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

canvas{
	display:none;
}

#about{
	height: 1000px;	
}

#portfolio{
	height: 1400px;
}

#contact{
	height: 700px;
    	background-position: 50% 80%;
} 

#profile{
	padding-top: 100px;
}

#picture{
	width: 300px;
}

.profileimage{
	padding-left: 35px;
}

.tabspage{
	padding-top: 0; 
}

.videothumb{
	width: 220px;
	margin-left: 30px;
}

.iPhoneCamera{	
	margin: 45px 0 0 260px;
}

.iPhoneSound{
	margin: 65px 0 0 262px;
}

h1 .btn {
	margin-top: 250px;
}

#resume{
	padding-top: 100px;    
}

}

/* iPhone 6 Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {

canvas{
	display: none;
}

#about{
	height: 750px;
}

#portfolio{
	height:1400px;	
}

#contact{ 
	height: 500px;
    	background-position: 50% 80%;
} 

#profile{
	padding-top: 60px;
}

#picture{
	width: 300px;
}

.profileimage{
	padding-left: 180px;
}

#summary{
	margin: 0;
}

.tabspage{
	padding-top: 0; 
}

.videothumb{
	width: 260px;
	margin-left: 30px;
}

.iPhoneCamera{	
	margin: 45px 0 0 550px;
}

.iPhoneSound{
	margin: 65px 0 0 552px;
}

h1 .btn {
	margin-top: 150px;
}

#resume{
	padding-top: 100px;    
}

}