html{
    width:100%;
}
.cb-slideshow{
z-index: -1;  
}
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    width:100%;
    background:#000;
    font-size:14px;
    font-family:'Helvetica';
}
h1,h2,h3,h4,h5,h56{
    font-family:'Helvetica';
    letter-spacing: 2px;
}

h1{
    font-size:7em;
    color:#fff;
    font-weight: bold;
    margin-bottom: 30px;   
}
h2{
    font-size:6;
    color:#fff;
    font-weight: bold;
    margin-bottom: 20px;   
}
h3{
    font-size:5em;
    color:#fff;
    font-weight: bold;
    margin-bottom: 20px;   
}
h4{
    margin-top:60px;
    font-size:4em;
    color:#fff;
    font-weight: bold;
    margin-bottom: 20px;   
}
h5{
    font-size:3em;
    color:#fff;
    font-weight: bold;
    margin-bottom: 20px;   
}
h6{
    font-size:2em;
    color:#fff;
    font-weight: bold;
    margin-bottom: 20px;   
}
p{
    margin-top:50px;
    font-size:1.5em;
    color:#fff;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
h1.blue{
    color:#00CC99;
}
.text-center{
    text-align: center;
}
.text-left{ 
    text-align: left;
}
.text-right{
    text-align: right;
}
.cb-slideshow{
    list-style: none;
}
.logo-section{
    padding:30px;
}
.hello-container{
    max-width: 970px;
    margin-right:auto;
    margin-left:auto;
    padding-right:15px;
    padding-left:15px;
}
.hello-container:before, .hello-container:after{
    content: "";
    display: table;
}
.hello-container:after{
    clear:both;
}
@media(min-width:768){
    .hello-container{
        width:750px;
    }
}
@media(min-width:992){
    .hello-container{
        width:970px;
    }
}
@media(min-width:1200){
    .hello-container{
        width:1170px;
    }
}
#countdown{
    text-align: center;
    margin:60px 0 80px;
    padding-left: 0;
    list-style: none;
}
#countdown li{
    display:inline-block;
    width:120px;
    height:120px;
    background-color:rgba(0,0,0,.3);
    font-size:40px;
    color:#fff;
    list-style: none;
    line-height: 1;
    border: 3px solid #00CC99;
    margin: 0 4px;  
    border-radius:50%;
}

#countdown .days,#countdown .hours,#countdown .minutes,#countdown .seconds{
    font-family: 'Helvetica';
   
    margin-top:30px;
}
#countdown .textDays,#countdown .textHours,#countdown .textMinutes,#countdown .textSeconds{
    
    bottom:5px;
    left:5px;
    font-size:13px;
    
}
@media(max-width:600px){
    #countdown li{
        width:75px;
        height:75px;
     }
    #countdown .days,#countdown .hours,#countdown .minutes,#countdown .seconds{
        font-size:30px;
        margin:25px;
    }
}
@media(max-width:480px){
    #countdown li{
        width:75px;
        height:75px;
     }
    #countdown .days,#countdown .hours,#countdown .minutes,#countdown .seconds{
        font-size:26px;
        margin:32px;
    }
    #countdown .textDays,#countdown .textHours,#countdown .textMinutes,#countdown .textSeconds{
        font-size:10px;
    }    
}
@media(max-width:480px){
    #countdown{
        margin:40px 0 70px;
    }
}









